
 .server{
  position: relative;
  float: right;
  display: inline-block;
  margin-right: 5px;
  padding: 4rem;
  text-align: right;
  width: 10%;
  color: green;
  margin-bottom: 5px;
  margin-top: 5px;
 }

 .client{
  position:relative;
  float: centre ;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4rem;
    text-align: left;
    width: 10%;
    height: 1%;
    
    color: Red;
    margin-bottom: 5px;
    margin-top: 5px;
 }

